Source: ptux-essential
Section: admin
Priority: extra
Maintainer: Ryan Kuester <rkuester@insymbols.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1

Package: ptux-essential
Architecture: any
Description: Essential system packages
 These are the essential packages on the system, i.e. those which any other
 package can depend on without explicitly specifying a dependency. These
 packages supply all of their core functionality even when unconfigured.
Depends:
 base-files,
 base-passwd,
 bash,
 bsdutils,
 coreutils,
 dash,
 debianutils,
 diffutils,
 dpkg,
 e2fsprogs,
 findutils,
 grep,
 gzip,
 hostname,
 libc-bin,
 login,
 mount,
 ncurses-base,
 ncurses-bin,
 perl-base,
 sed,
 sysvinit-utils,
 tar,
 util-linux
